body {
    background: #01515cb7;
    margin: 0 20%;
    
}

.top {
    background: #dadada00;
    border: 3px solid #c4c4c4;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 1px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(3, 0, 0, 0.288);
   
}

.menu {
    background: #6d6d6d00;
    border: 3px solid #fffbfb;
    border-radius: 25px;
    padding: 20px;
    margin: 10px 100px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
    
    }

    ul {
        float: left;
        width: 100%;
        padding: 1;

        list-style: none;
        }
        
        li a {
        display: block;
        float: left;
        text-align: center;
        font-size: 1.2em;
        width: 130px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 255, 0);
        padding: 6px 15px;
        margin: -35px 3px 5px -1px;
       
        
        
        }
        
        li a:hover {
        color: rgb(255, 255, 255);
        background: rgba(3, 1, 1, 0);
        border: 1px solid rgb(245, 245, 255);
        border-radius: 10px;
        }